COMPOSE_PROJECT_NAME=blocks_preview_example
PREVIEW_TASK_ID=example
PREVIEW_TAG=local
PREVIEW_IMAGE_PREFIX=blocks-preview
ASPNETCORE_ENVIRONMENT=Development
POSTGRES_DB=blocks_preview_example
POSTGRES_USER=blocks
POSTGRES_PASSWORD=change-me
SYSTEM_JWT_KEY=change-me
POSTGRES_PORT=15432
POSTGRES_VOLUME_NAME=blocks_preview_example_data
API_GATEWAY_PORT=15000
SYSTEM_SERVICE_PORT=15001
FILE_SERVICE_PORT=15002
WEB_PORT=13000
